body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation */

.nav {
	position: relative;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation, 
.advice-item {
	list-style: none;
	
}

.site-navigation {
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2
}

.site-navigation a:focus {
	color: #c7c7c7;
}

.main-header-logo {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 138px;
	height: 70px;
}

.nav-item {
	width: 240px;
	text-align: center;
}

.site-navigation {
	margin-bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.nav-item:nth-child(3) {
	margin-left: 240px;
}

/*background picture*/

.background-picture {
	margin-bottom: 30px;
	text-align: center;
}

/*body*/

.background-subtitle {
	background-color: #ffffff;
}

.background-title {
	width: 500px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ffffff;
}

.background-title p {
	font-size: 21px;
	line-height: 26px;
}

.background-title b {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;

}

.feature-item {
	width: 400px;
	height: 256px;
	padding-top: 46px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing: border-box;
}

.feature-item-bg {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	display: flex;
}

.feature-image {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
}

.feature-item {
	width: 400px;
	padding-top: 46px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing: border-box;
}

.advice-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700px;
	margin-bottom: 28px;

}

.feature-subtitle {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}


.advice-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 28px;
}

.advice-item {
	text-align: center;
	background-image: url(img/icon-1.svg);
	
	margin-top: 60px;
	margin-bottom: 80px;
	padding: 0px;
}

.advice-list {
	position: relative;
	display: flex;
	margin: 0px;
	padding: 0px;
}

.advice-item:nth-child(1) {
	padding-left: 72px;
	padding-right: 72px;
}

.advice-item:nth-child(2) {
	padding-left: 60px;
	padding-right: 60px;
}

.advice-item:nth-child(3) {
	padding-left: 65px;
	padding-right: 65px;
}

.advice-subtitle {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}	

.feature-title,
.advice-title {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.number,
.feature-subtitle,
.advice-subtitle {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.feature-img {
	background-color: #cccccc;
  	border: 0px solid #ffffff;
}

.features {
	margin: 0;
	padding: 0;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.feature-title {
	margin-left: auto;
	text-align: center;
	
}

p.feature-title {
	margin-right: 0;
	padding: 0;
	text-align: center;
}

.conteiner-attraction {
	display: flex;
	justify-content: space-between;
}

.attraction {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #eeeeee;

}

.attraction-item {

	width: 400px;
	margin: 0;
	padding: 0;
	padding-top: 46px;
	padding-bottom: 60px;
	width: 100%;
	align-items: center;
}

.attraction-title {
	
	font-size: 21px;
	line-height: 26px;
	font-weight: 700px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 123px;
	text-align: center;
}

.attraction-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 30px;
}

.attraction-number {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.attraction-title {
	width: 400px;
	margin-top: 0;
	margin-bottom: 30px;
}

.appointment {
	width: 568px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ffffff;	
}

.appointment-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	padding-top: 25px;
	margin-bottom: 30px;
}

.appointment-text {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	font-weight: normal;
	margin-bottom: 50px;
}	

p.appointment-info {
	margin-bottom: 35px;
}

.appointment a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 568px;
	padding-top: 35px;
	padding-bottom: 27px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
}

.appointment a:hover {
	background-color: #604e43;
}

.appointment a:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1)
}

/*form search hotels*/

.filter fieldset {
	border: none;
}

.search-filter {
	background-color: #81b3d2;
	background-image: url(../img/grey-black.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.filter legend {
	margin: 0;
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filter ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

form.filter {
	width: 330px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 28px 72px 20px 72px;
}

fieldset.first-column,
fieldset.middle-column,
.last-column {
	margin: 0;
	padding: 0;
	margin-bottom: auto;
}

fieldset.first-column,
fieldset.middle-column {
	box-sizing: border-box;
	width: 255px;
	padding-right: 20px;
}

.last-column {
	width: 314px;
	margin-left: auto;
	color: #ffffff;
	text-transform: uppercase;
}

.first-column ul,
.middle-column  ul,
.last-column fieldset {
	margin: 0;
	padding: 0;
}

.filter-option {
	font-size: 14px;
	line-height: 21px;
}

li.filter-option {
	margin-bottom: 26px;
	padding-left: 40px;
}

.filter-option label {
	position: relative;
	display: block;
	font-weight: normal;
	text-align: left;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
	background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-checkbox:disabled + label::before {
	background-image: url(../img/checkbox-off-disabled.svg);
}

.last-column-title {
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.range-toggle:hover {
	top: -10px;
	border: 9px solid #ffffff;
	width: 22px;
	height: 22px;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}



.modal {
	position: absolute;
	left: 50%;
	margin-left: -284px;
}

.modal form {
	display: flex;
	width: 568px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 55px;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.search-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 458px;
	margin: 0;
	padding: 0;
}

.last-row {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 458px;
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
}

.search-form {
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-item {
	display: flex;
	width: 458px;
	margin-bottom: 30px;
}

.search-item label {
	display: block;
	width: 112px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

.search-item input[type="text"] {
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding: 14px 40px 13px 13px;
	border: none;
	background-color: #f2f2f2;
}

.search-item {
	position: relative;
}

.search-item svg {
	position: absolute;
	left: 428px;
	top: 8px;
}

.search-item path {
	fill: #a9a9a9;
}

.search-item:hover path {
	fill: #000000;
}

.search-item:active path {
	fill: #8bb2cf;
}

.adults-item {
	margin-right: 53px;
}

.last-row-item.adults-item {
	display: flex;
	margin: 0;
	padding: 0;
	width: 226px;
	justify-content: flex-end;
}

.last-row-item.child-item {
	display: flex;
	margin: 0;
	padding: 0;
	width: 226px;
	justify-content: flex-end;
}

.adults-item label {
	display: block;
	width: 112px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

.child-item label {
	display: block;
	width: 65px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

.adults-item button:hover svg line,
.child-item button:hover svg line {
	stroke: #000000;
}

.adults-item button:active svg line,
.child-item button:active svg line {
	stroke: #8bb2cf;
}

.last-row-item input[type="text"] {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 38px;
	text-align: center;
	border: none;
	background-color: #f2f2f2;
}

.last-row-item button {
	margin: 0;
	padding: 0;
	width: 38px;
	height: 38px;
	text-align: center;
	border: none;
	background-color: #f2f2f2;
}

.search-item input:hover,
.last-row-item input:hover {
	background-color: #ebebeb; 
}

.search-item input:focus,
.last-row-item input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-item input::-moz-placeholder,
.search-item input:-moz-placeholder,
.search-item input:-ms-input-placeholder,
.last-row-item input::-moz-placeholder,
.last-row-item input:-moz-placeholder,
.last-row-item input:-ms-input-placeholder {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-item input::-webkit-input-placeholder,
.last-row-item input::-webkit-input-placeholder,
.search-item input,
.last-row-item input {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-item button {
	font: inherit;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
}

.search-item button:hover {
	color: #000000;
}

.search-item button:active {
	color: #81d3b2;
}

.button input {
	display: block;
	width: 458px;
	padding-top: 19px;
	padding-bottom: 18px;
	font: inherit;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}

.button input:hover {
	background-color: #669ec0;
}

.button input:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.modal {
	display: none;
}

.modal-show {
	display: block;
}


/* Footer */
.footer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 36px 0px;
}

.footer.main {
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,255,255,0.9);
}

.contacts,
.social,
.footer-copyright {
	margin: 0;
	padding: 0;
	
	text-align: center;
}

.contacts a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.social {
	list-style: none;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 400px;
	height: 48px;
}

.social li {
	width: 46px;
	height: 48px;
	margin-right: 6px;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px; 
	background-color: #81b3d2; 
}

.social-button::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
}

.social-button-twitter::after {
	left: 35%;
	width: 17px;
	height: 15px;
	background-image: url(../img/twitter.svg);
}
.social-button-facebook::after {
	left: 48%;
	width: 12px;
	height: 22px;
	background-image: url(../img/fb-icon.svg);
}

.social-button-youtube::after {
	left: 60%;
	width: 20px;
	height: 16px;
	background-image: url(../img/youtube.svg);
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
} 

.social-button:active::after {
	opacity: 0.3;
}

.footer-copyright {
	position: relative;
	vertical-align: middle;
	padding-right: 120px;
	text-align: center;
	font-weight: normal;
}

.button-website {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 46%;
	width: 115px;
	height: 41px;
}

.button-website:hover path {
	fill: #81b3d2;
}

.button-website:active path {
	fill: #bdbbbc;
}




.filter fieldset {
	border: none;
}

.filters {
	background-color: #81b3d2;
	background-image: url(../img/filter-background.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.filter legend {
	margin: 0;
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filter ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

form.filter {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	width: 400px;
	margin-right: 0;
	align-items: center;
	justify-content: flex-start;
	padding: 28px 72px 20px 72px;
}

fieldset.first-column,
fieldset.middle-column,
.last-column {
	margin: 0;
	padding: 0;
	margin-bottom: auto;
}

fieldset.first-column,
fieldset.middle-column {
	box-sizing: border-box;
	width: 255px;
	padding-right: 20px;
}

.last-column {
	width: 314px;
	margin-left: auto;
	color: #ffffff;
	text-transform: uppercase;
}

.first-column ul,
.middle-column  ul,
.last-column fieldset {
	margin: 0;
	padding: 0;
}

.filter-option {
	font-size: 14px;
	line-height: 21px;
}

li.filter-option {
	margin-bottom: 26px;
	padding-left: 40px;
}

.filter-option label {
	position: relative;
	display: block;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
	background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-checkbox:disabled + label::before {
	background-image: url(../img/checkbox-off-disabled.svg);
}

.last-column-title {
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.range-toggle:hover {
	top: -10px;
	border: 9px solid #ffffff;
	width: 22px;
	height: 22px;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

/* catalog результаты поиска */

.search-result-caption {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.search-result h4 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.search-result {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.search-result ul {
	list-style: none;
}

.search-result-link {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.search-result-link:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-result-link:active {
	color: #000000;
	border: none;
}

.active {
	color: #81b3d2;
	border: none;
}

.search-form {
	position: absolute;
	background-color: #ffffff;
	border: 55px solid #ffffff;
	margin-left: 316px;
}

.search-result {
	margin: 0;
	padding: 31px 72px;
	display: flex;
	border-bottom: 1px solid #f2f2f2;
}

.search-result-caption {
	margin: 0;
	padding: 0;
	width: 135px;
}

.search-result-navigation {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	width: 680px;

}

.search-result-navigation h4,
.search-result-list {
	margin: 0;
	padding: 0;
}

.search-result-list {
	display: flex;
	list-style: none;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.search-result-item {
	margin-right: 33px; 
}

.search-result-navigation {
	display: flex;
	list-style: none;
	justify-content: flex-start;
	align-items: center;
}

.search-result-navigation h4 {
	margin-right: 38px;
}

.search-result-arrow {
	margin: 0;
	padding: 0;
	width: 241px;
}

.arrow-list {
	margin: 0;
	padding: 0;
	padding-top: 6px;
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: center;
}

.arrow-item {
	width: 11px;
	height: 10px;
}

.arrow-item:last-child {
	width: 11px;
	height: 10px;
	margin-left: 12px;
}

.arrow-item:first-child:active path {
	fill: #81b3d2;
}

.arrow-item:hover path {
	fill: #000000;
}

.active path {
	fill: #81b3d2;
}

/* сложная форма поиска */


.filter-range {
  	width: 330px;
  	margin: 50px;
  	/*margin: 30px; /* для демо */
  	/*padding-left: 350px; */

  	color: #ffffff;
  	text-transform: uppercase;

}

.filter-range-title {
  	margin-bottom: 9px;

  	font-weight: 600;
  	font-size: 16px;
  	line-height: 21px;
}

.price-controls {
  	position: relative;

  	height: 36px;
  	margin-bottom: 20px;

  	font-size: 0;

  	border: 2px solid #ffffff;
  	border-radius: 2px;
}

.price-controls::after {
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;

  	width: 2px;
  	height: 22px;

  	background: #ffffff;
  	transform: translate(-50%, -50%);
}

.price-controls label {
  	display: inline-block;

  	font-size: 14px;
  	line-height: 38px;
  	vertical-align: top;

  	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  	width: 90px;
  	padding-left: 65px;
}

.price-controls input {
  	width: 50px;
  	margin: 0;

  	color: inherit;
  	font: inherit;

  	background: none;
  	border: none;
}

.range-controls {
  	position: relative;

  	margin-bottom: 32px;
}

.range-controls .scale {
  	height: 2px;

  	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;

  	background: #ffffff;
}

.range-toggle {
  	position: absolute;
  	top: -9px;
  	width: 4px;
  	height: 4px;

  	background: #ababab;
  	border: 8px solid #ffffff;
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}

.range-toggle:hover {
  	background: #1c4f80;
}

.range-toggle-min {
  	left: 0;
}

.btn-transparent {
  	display: block;
  	margin: 0 auto;
  	padding: 6px 35px;

  	font-size: 14px;
  	line-height: 20px;
  	color: #ffffff;
  	text-transform: uppercase;

  	background: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	cursor: pointer;
}

.btn-transparent:hover {
  	color: #000000;

  	background: #ffffff;
}

.range-toggle-max {
  	left: 80%;
}

/* catalog hotels */

.img {
	width: 135px;
	height: 90px;
}

.hotel-title {
	margin: 0;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	font-weight: 700;
}

.hotel-title a {
	color: #000000;
}

.hotel-title a:hover {
	color: #81b3d2;
}

.hotel-title a:active {
	color: #000000;
	opacity: 0.3;
}

.hotel-tipe,
.price {
	display: inline-block;
	width: 110px;
	vertical-align: middle;
	

	font-size: 14px;
	line-height: 21px;
	color: #333333;	
}

.price {
	display: inline-block;
	margin-left: 10px;
	width: 142px;
	vertical-align: middle;
	
}

.buttons-item {
	width: 350px;
}

.button-info {
	display: inline-block;
	height: 27px;
	line-height: 27px;
	min-width: 110px;
	

	font: inherit;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #81b3d2;
	text-transform: uppercase;
}

.button-book {
	display: inline-block;
	height: 27px;
	line-height: 27px;
	min-width: 110px;

	margin-left: 4px;
	min-width: 142px;

	font: inherit;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #766357;
	text-transform: uppercase;
}

.button-info:hover {
	background-color: #669ec0;
}

.button-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.rating-number {
	position: relative;
	display: block;
	margin: 0;
	margin-top: 63px;
	width: 110px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	

	color: #666666;
	background-color: #f2f2f2;
}

a.button-info {
	display: inline-block;
	width: 100px;
	padding: 3px 16px;
	margin-right: 2px;
}

a.button-book {
	display: inline-block;
	width: 142px;
	padding: 3px 14px;
}

span.hotel-tipe {
	display: inline-block;
	width: 110px;
	height: 27px;
	margin-right: 2px;
	font-weight: normal;
}

span.price {
	display: inline-block;
	width: 142px;
	height: 27px;
	padding-left: 25px;
	font-weight: normal;
	
}

div.information-item {
	margin-bottom: 8px;
}

h3.hotel-title {
	margin-bottom: 6px;
	margin-top: -8px;
}

.catalog {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
}

.hotel-item {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	padding: 28px 72px;
	border-bottom: 1px solid #f2f2f2;
}

.raiting {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 240px;
	margin: 0;
	padding: 0;	
}

span.rating-number {
	width: 110px;
	height: 30px;
	text-align: center;
	padding: 5px;
	font-weight: normal;
}

.star-content-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	width: 90px;
	height: 27px;
	margin-left: 30px;
}

.star-content-list.thristar {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	width: 65px;
	height: 27px;
	margin-left: 50px;
}

.star-content-list.twostar {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 41px;
	height: 27px;
	margin: 0;
	padding: 0;
	margin-left: 70px;
}

li.star-content-item {
	width: 18px;
	height: 17px;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.description {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 320px;
	padding-left: 30px;
	padding-right: 290px;
	text-align: left;
}

.rating {
	padding-left: 200px;
}
